.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/.env
/.jest
/**/tsconfig.tsbuildinfo
/dist
/node_modules
/src/models/*.schema.d.yaml.ts
/src/models/validate.mjs
yarn-error.log
